<% if object.errors.any? %>
  <% if field.nil? || object.errors[field].any? %>
    <% object.errors[field].each do |message| %>
      <p class="error">
        <%= message %>
      </p>
    <% end %>
  <% end %>
<% end %>